html
    head
        title Internal Server Error
        <script src="https://cdn.tailwindcss.com"></script>
    body
        p(class=["text-lg","font-medium"]) Internal Server Error with Timeout 
            span(class=["text-sky-500"]) #{rTimeOut} ms
        p(class=["text-lg","font-medium"]) Status Code is 
            span(class=["text-sky-500"]) #{rCode}