head
    title MyNewTitle
    
  
    //- style 
    //-     include style.css
    //- script 
    //-     include script.js
    

    script(src="/script.js")
    link(rel="stylesheet", href="style.css")